{{#if showSpecial}}
<div class="form-group dicerecharge-special">
  <label data-tooltip="DICERECHARGE.ItemSheet.specialTitle">{{localize "DICERECHARGE.ItemSheet.specialLabel"}}</label>
  <div class="form-fields">
    <input type="checkbox" name="flags.dicerecharge.special.active" {{checked specialActive}}>
    <input type="text" name="flags.dicerecharge.special.formula" value="{{specialFormula}}" {{disabled (not specialActive)}}>
    <span class="sep dicerecharge">{{localize "DICERECHARGE.ItemSheet.if"}}</span>
    <select name="flags.dicerecharge.special.die" {{disabled (not specialActive)}}>
      {{selectOptions specialChoices selected=specialSelected localize=true}}
    </select>
    <span class="sep dicerecharge">&ge;</span>
    <input type="number" data-dtype="Number" name="flags.dicerecharge.special.threshold" value="{{specialThreshold}}" {{disabled (not specialActive)}}>
  </div>
</div>
{{/if}}

{{#if showDestruction}}
<div class="form-group destruction">
  <label data-tooltip="DICERECHARGE.ItemSheet.destructionTitle">{{localize "DICERECHARGE.ItemSheet.destructionLabel"}}</label>
  <div class="form-fields">
    <input type="checkbox" name="flags.dicerecharge.destroy.check" {{checked destructionEnabled}}>
    <span class="sep dicerecharge">{{localize "DICERECHARGE.ItemSheet.destroyedIf"}}</span>
    <select name="flags.dicerecharge.destroy.die" {{disabled (not destructionEnabled)}}>
      {{selectOptions destructionChoices selected=destructionSelected localize=true}}
    </select>
    <span class="sep dicerecharge">&le;</span>
    <input type="number" data-dtype="Number" name="flags.dicerecharge.destroy.threshold" value="{{destructionThreshold}}" {{disabled (not destructionEnabled)}}>
  </div>
</div>
{{/if}}
